Repository kudobuilder/kudo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gerred, @runyontr, @kensipe, @fabianbaier, @guenter

Minor CLI refactoring, mostly changing names
  pkg/kudoctl/cmd/get/instances.go
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/plan/plan_history.go
  pkg/kudoctl/cmd/plan/plan_status.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/kudoctl/util/kudo/kudo_test.go
Owners: @fabianbaier, @kensipe

Fixes
  pkg/kudoctl/cmd/plan/helpers.go
  pkg/kudoctl/cmd/plan/plan_history.go
  pkg/kudoctl/cmd/plan/plan_status.go
Owners: @fabianbaier, @kensipe

updating KEP to current state switch from provisional to implementable adding gkleiman as author/owner incorporating review feedback
  keps/0010-package-manager.md
  keps/draft-20190516-KUDO-package-manager.md
Owners: @gerred

addressed review gkleiman
  keps/0010-package-manager.md
Owners: @gerred

fixing implementation history markdown
  keps/0010-package-manager.md
Owners: @gerred

more reviewed items from gkleiman
  keps/0010-package-manager.md
Owners: @gerred

Revert change to 00-prereqs.yaml and remove duplicated default text
  docs/cli.md
  docs/deployment/00-prereqs.yaml
Owners: @gerred

link to zookeeper is broken
  docs/examples/apache-kafka.md
Owners: @gerred

link to zookeeper is broken (#325)
  docs/examples/apache-kafka.md
Owners: @gerred

Docs fixes (#316)
  docs/cli.md
Owners: @gerred

Minor CLI refactoring, mostly changing names (#323)
  pkg/kudoctl/cmd/get/instances.go
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/plan/helpers.go
  pkg/kudoctl/cmd/plan/plan_history.go
  pkg/kudoctl/cmd/plan/plan_status.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/kudoctl/util/kudo/kudo_test.go
Owners: @fabianbaier, @kensipe

Initial draft to move code to a new engine package
  pkg/controller/framework/framework_controller.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/planexecution/planexecution_controller.go
  pkg/engine/engine.go
Owners: @gerred, @runyontr, @kensipe

Use bytes and readers as input for better testability
  pkg/bundle/framework.go
  pkg/kudoctl/cmd/convert/convert.go
  pkg/util/helm/bundle.go
  pkg/util/helm/convert.go
Owners: @gerred, @fabianbaier, @kensipe, @runyontr

Formatting
  pkg/bundle/framework.go
  pkg/util/helm/bundle.go
  pkg/util/helm/convert.go
Owners: @gerred, @runyontr, @kensipe

Fail on lint errors
  Makefile
Owners: @gerred

Fix error reported by linter
  pkg/kudoctl/cmd/install/install.go
Owners: @fabianbaier, @kensipe

fixed typos
  keps/0010-package-manager.md
Owners: @gerred

Add ability to convert charts from helm repo
  go.mod
  pkg/kudoctl/cmd/convert.go
  pkg/kudoctl/cmd/convert/convert.go
  pkg/util/helm/bundle.go
  pkg/util/helm/convert.go
  pkg/util/helm/util.go
  test/repo/stable/mysql/operator.yaml
  test/repo/stable/mysql/params.yaml
  test/repo/stable/mysql/templates/NOTES.txt
  test/repo/stable/mysql/templates/_helpers.tpl
  test/repo/stable/mysql/templates/configurationFiles-configmap.yaml
  test/repo/stable/mysql/templates/deployment.yaml
  test/repo/stable/mysql/templates/initializationFiles-configmap.yaml
  test/repo/stable/mysql/templates/pvc.yaml
  test/repo/stable/mysql/templates/secrets.yaml
  test/repo/stable/mysql/templates/servicemonitor.yaml
  test/repo/stable/mysql/templates/svc.yaml
Owners: @gerred, @fabianbaier, @kensipe, @runyontr

[KEP-0010] KUDO Package Manager (#248)
  keps/0010-package-manager.md
Owners: @gerred

Clean up comments
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types_test.go
  pkg/apis/kudo/v1alpha1/instance_types.go
  pkg/apis/kudo/v1alpha1/planexecution_types.go
  pkg/controller/frameworkversion/frameworkversion_controller.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/planexecution/planexecution_controller.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/plan/plan_history.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/kudoctl/util/repo/repo.go
  pkg/util/health/ready.go
Owners: @gerred, @runyontr, @kensipe, @fabianbaier

Apply suggestions from code review
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/controller/frameworkversion/frameworkversion_controller.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/planexecution/planexecution_controller.go
  pkg/kudoctl/util/repo/repo.go
  pkg/util/health/ready.go
Owners: @gerred, @runyontr, @kensipe, @fabianbaier

Fix error reported by linter (#328)
  pkg/kudoctl/cmd/install/install.go
Owners: @fabianbaier, @kensipe

Fail on lint errors (#327)
  Makefile
Owners: @gerred

Clean up comments (#329)
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types_test.go
  pkg/apis/kudo/v1alpha1/instance_types.go
  pkg/apis/kudo/v1alpha1/planexecution_types.go
  pkg/controller/frameworkversion/frameworkversion_controller.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/planexecution/planexecution_controller.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/plan/plan_history.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/kudoctl/util/repo/repo.go
  pkg/util/health/ready.go
Owners: @gerred, @runyontr, @kensipe, @fabianbaier

Refactored install parameters
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
Owners: @fabianbaier, @kensipe

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gerred

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/pkg/apis/ @gerred @runyontr @kensipe
/pkg/client/ @fabianbaier @kensipe
/pkg/controller/ @gerred @runyontr @kensipe
/pkg/kudoctl/ @fabianbaier @kensipe
/pkg/util/ @gerred @runyontr @kensipe
/pkg/webhook/ @gerred @runyontr @kensipe
/site/ @guenter
