Repository kudobuilder/kudo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gerred, @runyontr, @kensipe, @fabianbaier, @guenter

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gerred

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/pkg/apis/ @gerred @runyontr @kensipe
/pkg/client/ @fabianbaier @kensipe
/pkg/controller/ @gerred @runyontr @kensipe
/pkg/kudoctl/ @fabianbaier @kensipe
/pkg/util/ @gerred @runyontr @kensipe
/pkg/webhook/ @gerred @runyontr @kensipe
/site/ @guenter

Remove webhooks for the purposes of this KEP
  keps/0009-operator-toolkit.md
Owners: @gerred

Name change from operator to framework. This name change is out of scope for this KEP
  keps/0009-operator-toolkit.md
Owners: @gerred

Find and replace went a little too far
  keps/0009-operator-toolkit.md
Owners: @gerred

Cicd outline (#144)
  keps/0004-add-testing-infrastructure.md
Owners: @gerred

add some metadata
  keps/0009-operator-toolkit.md
Owners: @gerred

Run tests on every PR using CircleCI (#257)
  .circleci/config.yml
  .gitignore
  CONTRIBUTING.md
  test/.dockerignore
  test/Dockerfile
  test/run_tests.sh
Owners: @gerred

set to implementable
  keps/0009-operator-toolkit.md
Owners: @gerred

Operator toolkit proposal. Assigns KEP 9 to Operator Toolkit SDK (#263)
  keps/0009-operator-toolkit.md
  keps/20190514-operator-toolkit.md
Owners: @gerred

Updated FrameworkSpec with metadata from KEP009
  config/crds/kudo_v1alpha1_framework.yaml
  pkg/apis/kudo/v1alpha1/framework_types.go
Owners: @gerred, @runyontr, @kensipe

Add links to community content and frameworks repo.
  docs/community.md
  docs/examples/_index.md
  site/themes/book/layouts/partials/docs/shared.html
Owners: @gerred, @guenter

Add links to community content and frameworks repo. (#278)
  docs/community.md
  docs/examples/_index.md
  site/themes/book/layouts/partials/docs/shared.html
Owners: @gerred, @guenter

Making KEP for KEP-0009 conform and incorporating review feedback
  keps/draft-20190516-KUDO-package-manager.md
Owners: @gerred

added semver clarification and update story
  keps/draft-20190516-KUDO-package-manager.md
Owners: @gerred

re-adding repopath and adding repo constant
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/util/check/check.go
Owners: @fabianbaier, @kensipe

fixed failing install test due to missing .git-credential file
  pkg/kudoctl/util/check/check_test.go
  pkg/kudoctl/util/github/client_test.go
Owners: @fabianbaier, @kensipe

fixed linter
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/repo/repo_index.go
Owners: @fabianbaier, @kensipe

fixed staticcheck
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/repo/repo_index.go
Owners: @fabianbaier, @kensipe

fixed goimports
  go.sum
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/repo/repo_index.go
Owners: @gerred, @fabianbaier, @kensipe

fixed install test by adding index.yaml
  pkg/kudoctl/cmd/install/install_test.go
Owners: @fabianbaier, @kensipe

Make deploy to print out install yaml files
  CONTRIBUTING.md
  Makefile
  config/kustomization.yaml
  config/manager/manager.yaml
  config/manager_image_patch.yaml
  config/manager_image_patch.yaml-e
  config/rbac/rbac_role.yaml
  config/rbac/rbac_role_binding.yaml
  docs/getting-started.md
  hack/update_manifests.sh
Owners: @gerred

Better docs
  docs/getting-started.md
Owners: @gerred

addressed some review items, mainly inlines, github client related cleanups
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/check/check.go
  pkg/kudoctl/util/helpers/helpers_test.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_client.go
Owners: @fabianbaier, @kensipe

addressed reviews for a const with fmt.Sprintf and renaming client to HTTPClient
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

Use helm style parameters for `kudoctl kudo install` command. So instead of: `kubectl kudo install kafka -p foo,bar` it would be: `kubectl kudo install kafka -p foo=bar`
  go.mod
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install_test.go
Owners: @gerred, @fabianbaier, @kensipe

Fixing formatting issues
  pkg/kudoctl/cmd/install_test.go
Owners: @fabianbaier, @kensipe

Added edge case where /tmp is a folder
  pkg/kudoctl/util/check/check.go
Owners: @fabianbaier, @kensipe

Fixed InstallCmd check by handling folder correctly
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/util/check/check.go
Owners: @fabianbaier, @kensipe

Install cmd test fix (#287)
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/util/check/check.go
Owners: @fabianbaier, @kensipe

Update Framework spec based on PR comments
  pkg/apis/kudo/v1alpha1/framework_types.go
Owners: @gerred, @runyontr, @kensipe

update manifest for crd changes
  config/crds/kudo_v1alpha1_framework.yaml
Owners: @gerred

First import for helm charts
  go.mod
  go.sum
  pkg/kudoctl/cmd/import.go
  pkg/kudoctl/cmd/import/import_run.go
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/util/vars/vars.go
  pkg/util/helm/convert.go
  pkg/util/helm/convert_test.go
Owners: @gerred, @fabianbaier, @kensipe, @runyontr

Add link to Framework in FrameworkVersion
  pkg/util/helm/convert.go
Owners: @gerred, @runyontr, @kensipe

Make deploy to print out install yaml files (#282)
  CONTRIBUTING.md
  Makefile
  config/kustomization.yaml
  config/manager/manager.yaml
  config/manager_image_patch.yaml
  config/manager_image_patch.yaml-e
  config/rbac/rbac_role.yaml
  config/rbac/rbac_role_binding.yaml
  docs/getting-started.md
  hack/update_manifests.sh
Owners: @gerred

cleanup before PR
  pkg/kudoctl/cmd/import/import_run.go
  pkg/util/helm/convert.go
Owners: @fabianbaier, @kensipe, @gerred, @runyontr

Also run tests against the merge of master into the current branch
  .circleci/config.yml
Owners: @gerred

Added chart to repo for testing
  pkg/util/helm/convert_test.go
  test/charts/mysql/.helmignore
  test/charts/mysql/Chart.yaml
  test/charts/mysql/OWNERS
  test/charts/mysql/README.md
  test/charts/mysql/templates/NOTES.txt
  test/charts/mysql/templates/_helpers.tpl
  test/charts/mysql/templates/configurationFiles-configmap.yaml
  test/charts/mysql/templates/deployment.yaml
  test/charts/mysql/templates/initializationFiles-configmap.yaml
  test/charts/mysql/templates/pvc.yaml
  test/charts/mysql/templates/secrets.yaml
  test/charts/mysql/templates/servicemonitor.yaml
  test/charts/mysql/templates/svc.yaml
  test/charts/mysql/templates/tests/test-configmap.yaml
  test/charts/mysql/templates/tests/test.yaml
  test/charts/mysql/values.yaml
Owners: @gerred, @runyontr, @kensipe

Fix syntax for range
  pkg/util/helm/convert.go
Owners: @gerred, @runyontr, @kensipe

More fixes from staticcheck
  pkg/kudoctl/cmd/import/import_run.go
  pkg/util/helm/convert.go
  pkg/util/helm/convert_test.go
Owners: @fabianbaier, @kensipe, @gerred, @runyontr

Also run tests against the merge of master into the current branch (#289)
  .circleci/config.yml
Owners: @gerred

make fmt
  pkg/util/helm/convert_test.go
Owners: @gerred, @runyontr, @kensipe
