Repository kudobuilder/kudo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gerred, @runyontr, @kensipe, @fabianbaier, @guenter

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gerred

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/pkg/apis/ @gerred @runyontr @kensipe
/pkg/client/ @fabianbaier @kensipe
/pkg/controller/ @gerred @runyontr @kensipe
/pkg/kudoctl/ @fabianbaier @kensipe
/pkg/util/ @gerred @runyontr @kensipe
/pkg/webhook/ @gerred @runyontr @kensipe
/site/ @guenter

adding dockerfile for goreleaser. adding brew tap configuration for goreleaser
  .goreleaser.yml
  Dockerfile.goreleaser
Owners: @gerred

removing draft status on goreleaser
  .goreleaser.yml
Owners: @gerred

update for brew release install instructions
  .goreleaser.yml
Owners: @gerred

Improve install experience
  docs/deployment/00-prereqs.yaml
  docs/deployment/10-crds.yaml
  docs/deployment/20-deployment.yaml
  docs/getting-started.md
Owners: @gerred

Fix service account
  docs/deployment/00-prereqs.yaml
Owners: @gerred

Add instructions on using brew to install the CLI
  docs/cli.md
Owners: @gerred

Improve install experience (#311)
  docs/cli.md
  docs/deployment/00-prereqs.yaml
  docs/deployment/10-crds.yaml
  docs/deployment/20-deployment.yaml
  docs/getting-started.md
Owners: @gerred

Adding 0.2.0 blog skeleton
  site/config.yml
  site/content/posts/announcing-kudo-0.2.0.md
Owners: @guenter

Minor renaming in kudo install command
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install/install_test.go
Owners: @fabianbaier, @kensipe

finish blog post
  site/content/posts/announcing-kudo-0.2.0.md
Owners: @guenter

add namespace
  site/content/posts/announcing-kudo-0.2.0.md
Owners: @guenter

Blog post for v0.2.0 (#313)
  site/config.yml
  site/content/posts/announcing-kudo-0.2.0.md
Owners: @guenter

adjust pre-reqs
  docs/deployment/00-prereqs.yaml
Owners: @gerred

Fixing homebrew tap cmd
  site/content/posts/announcing-kudo-0.2.0.md
Owners: @guenter

Fixing homebrew tap cmd (#314)
  site/content/posts/announcing-kudo-0.2.0.md
Owners: @guenter

Making code easier to read
  docs/repository.md
  pkg/kudoctl/cmd/install/install.go
Owners: @gerred, @fabianbaier, @kensipe

Minor renaming in kudo install command (#312)
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install/install_test.go
Owners: @fabianbaier, @kensipe

Allow kudo-manager-role to modify persistentvolumeclaims to fix ZK sample; docs fixes.
  docs/cli.md
  docs/deployment/00-prereqs.yaml
Owners: @gerred

Update to release process
  RELEASE.md
Owners: @gerred

reverted code refactor which broken install test
  pkg/kudoctl/cmd/install/install.go
Owners: @fabianbaier, @kensipe

Making code easier to read (#315)
  docs/repository.md
  pkg/kudoctl/cmd/install/install.go
Owners: @gerred, @fabianbaier, @kensipe

CI fix
  test/Dockerfile
  test/run_tests.sh
Owners: @gerred

Move statement back into internal method because of tests (#318)
  pkg/kudoctl/cmd/install/install.go
Owners: @fabianbaier, @kensipe

One more fix
  test/Dockerfile
Owners: @gerred

Make the CI run again after git-credentials removal (#319)
  test/Dockerfile
  test/run_tests.sh
Owners: @gerred

spelling update based on pr feedback
  RELEASE.md
Owners: @gerred

Update to Release Process (#317)
  RELEASE.md
Owners: @gerred

Remove vars, pass params explicitly
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/cmd/install_test.go
  pkg/kudoctl/util/check/check.go
  pkg/kudoctl/util/check/check_test.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/kudoctl/util/kudo/kudo_test.go
  pkg/kudoctl/util/vars/vars.go
Owners: @fabianbaier, @kensipe

Formatting errors
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install_test.go
  pkg/kudoctl/util/check/check.go
Owners: @fabianbaier, @kensipe

Use var instead of func
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install/install_test.go
Owners: @fabianbaier, @kensipe

Better installation instructions (#292)
  docs/getting-started.md
Owners: @gerred

Rename files to follow naming convention
  pkg/kudoctl/cmd/plan/plan_history.go
  pkg/kudoctl/cmd/plan/plan_status.go
Owners: @fabianbaier, @kensipe

Rename files to follow naming convention (#321)
  pkg/kudoctl/cmd/plan/plan_history.go
  pkg/kudoctl/cmd/plan/plan_status.go
Owners: @fabianbaier, @kensipe

Implementation of framework test harness (KEP-0008)
  cmd/test/test_test.go
  config/samples/test-framework/test-framework.yaml
  go.mod
  go.sum
  keps/0008-framework-testing.md
  pkg/apis/kudo/v1alpha1/test_types.go
  pkg/apis/kudo/v1alpha1/zz_generated.deepcopy.go
  pkg/test/case.go
  pkg/test/case_test.go
  pkg/test/harness.go
  pkg/test/step.go
  pkg/test/step_test.go
  pkg/test/test_data/framework-test/00-assert.yaml
  pkg/test/test_data/framework-test/00-install.yaml
  pkg/test/test_data/framework-test/01-assert.yaml
  pkg/test/test_data/framework-test/01-upgrade.yaml
  pkg/test/test_data/with-overrides/00-assert.yaml
  pkg/test/test_data/with-overrides/00-test-step.yaml
  pkg/test/test_data/with-overrides/01-assert.yaml
  pkg/test/test_data/with-overrides/01-test-assert.yaml
  pkg/test/test_data/with-overrides/02-directory/assert.yaml
  pkg/test/test_data/with-overrides/02-directory/pod.yaml
  pkg/test/test_data/with-overrides/02-directory/pod2.yaml
  pkg/test/test_data/with-overrides/03-assert.yaml
  pkg/test/test_data/with-overrides/03-pod.yaml
  pkg/test/test_data/with-overrides/03-pod2.yaml
  pkg/test/usage.go
  pkg/test/utils/kubernetes.go
  pkg/test/utils/kubernetes_test.go
  pkg/test/utils/logger.go
  pkg/test/utils/subset.go
  pkg/test/utils/subset_test.go
Owners: @gerred, @runyontr, @kensipe

Fix test-framework parameters.
  config/samples/test-framework/test-framework.yaml
Owners: @gerred

Convert helm chart into KUDOperator Framework
  go.mod
  pkg/kudoctl/cmd/convert.go
  pkg/kudoctl/cmd/convert/convert.go
  pkg/kudoctl/cmd/import.go
  pkg/kudoctl/cmd/import/import_run.go
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/util/vars/vars.go
  pkg/util/helm/bundle.go
  pkg/util/helm/convert.go
  pkg/util/helm/convert_test.go
  test/kudo/mysql/framework.yaml
  test/kudo/mysql/operator.yaml
  test/kudo/mysql/params.yaml
  test/kudo/mysql/templates/NOTES.txt
  test/kudo/mysql/templates/_helpers.tpl
  test/kudo/mysql/templates/tests/test-configmap.yaml
  test/kudo/mysql/templates/tests/test.yaml
Owners: @gerred, @fabianbaier, @kensipe, @runyontr

Fixed formatting issue
  pkg/kudoctl/cmd/convert/convert.go
  pkg/util/helm/bundle.go
Owners: @fabianbaier, @kensipe, @gerred, @runyontr

FV -> package
  pkg/kudoctl/cmd/install.go
Owners: @fabianbaier, @kensipe

Remove vars, pass params explicitly (#320)
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/cmd/install_test.go
  pkg/kudoctl/util/check/check.go
  pkg/kudoctl/util/check/check_test.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/kudoctl/util/kudo/kudo_test.go
  pkg/kudoctl/util/vars/vars.go
Owners: @fabianbaier, @kensipe

Make formatter happy
  pkg/kudoctl/cmd/convert.go
  pkg/kudoctl/cmd/convert/convert.go
  pkg/kudoctl/cmd/install/install.go
Owners: @fabianbaier, @kensipe
