Repository kudobuilder/kudo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gerred, @runyontr, @kensipe, @fabianbaier, @guenter

Added charts to testing dockerfile
  pkg/util/helm/convert_test.go
  test/Dockerfile
Owners: @gerred, @runyontr, @kensipe

Reduce the scope of the cli improvement branch
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/repo/repo_index.go
  pkg/kudoctl/util/vars/vars.go
Owners: @fabianbaier, @kensipe

Added additional folders to .dockerignore. Moved to top level
  .dockerignore
  test/.dockerignore
Owners: @gerred

Added additional folders to .dockerignore. Moved to top level (#291)
  .dockerignore
  test/.dockerignore
Owners: @gerred

Review feedback
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install_test.go
Owners: @fabianbaier, @kensipe

Updated with commnets from Ken
  pkg/kudoctl/cmd/import.go
  pkg/util/helm/convert.go
Owners: @fabianbaier, @kensipe, @gerred, @runyontr

Improve KEP-0009
  keps/0009-operator-toolkit.md
Owners: @gerred

More refactoring
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo_index.go
Owners: @fabianbaier, @kensipe

check.RepoPath: refactored creation of repopath out of caller method into new helper method
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/check/check.go
  pkg/kudoctl/util/check/check_test.go
  pkg/kudoctl/util/helpers/helpers.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/vars/vars.go
Owners: @fabianbaier, @kensipe

golinting, goimporting and staticchecking to make tests pass
  go.sum
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/helpers/helpers.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/vars/vars.go
Owners: @gerred, @fabianbaier, @kensipe

Better installation instructions
  docs/getting-started.md
Owners: @gerred

Remove remaining git-credentials stuff
  .circleci/config.yml
  CONTRIBUTING.md
  docs/cli.md
  docs/getting-started.md
  pkg/kudoctl/util/vars/vars.go
  test/run_tests.sh
Owners: @gerred, @fabianbaier, @kensipe

Various improvements
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/repo/repo_index.go
Owners: @fabianbaier, @kensipe

convince->convenience
  Makefile
Owners: @gerred

Correct spelling of 'receive(d)'
  pkg/controller/framework/framework_controller.go
  pkg/controller/frameworkversion/frameworkversion_controller.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/planexecution/planexecution_controller.go
Owners: @gerred, @runyontr, @kensipe

Initial commit on templating engine
  config/samples/toy.yaml
  go.mod
  go.sum
  pkg/controller/planexecution/planexecution_controller.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Owners: @gerred, @runyontr, @kensipe

Add nested test, delete other unsafe functions
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Owners: @gerred

Add go docs, add tests for removing unsafe funcs
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Owners: @gerred

Make goimports happy
  pkg/controller/planexecution/planexecution_controller.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  tools.go
Owners: @gerred, @runyontr, @kensipe

remove all references to mustache
  config/samples/canary.yaml
  config/samples/flink-demo.yaml
  config/samples/flink.yaml
  config/samples/kafka-frameworkversion.yaml
  config/samples/mysql.yaml
  config/samples/upgrade.yaml
  config/samples/zookeeper-frameworkversion.yaml
  config/samples/zookeeper-instance.yaml
  go.mod
  go.sum
  pkg/controller/planexecution/planexecution_controller.go
  pkg/util/template/template.go
Owners: @gerred, @runyontr, @kensipe

Minor cleanup
  pkg/kudoctl/cmd/install/install.go
Owners: @fabianbaier, @kensipe

Improve KEP-0009 (#286)
  keps/0009-operator-toolkit.md
Owners: @gerred

Correct spelling of 'receive(d)' (#294)
  pkg/controller/framework/framework_controller.go
  pkg/controller/frameworkversion/frameworkversion_controller.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/planexecution/planexecution_controller.go
Owners: @gerred, @runyontr, @kensipe

Use Helm-style parameters for `kudoctl kudo install` command (#283)
  go.mod
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install_test.go
Owners: @gerred, @fabianbaier, @kensipe

Updated FrameworkSpec with metadata from KEP009 (#277)
  config/crds/kudo_v1alpha1_framework.yaml
  pkg/apis/kudo/v1alpha1/framework_types.go
Owners: @gerred, @runyontr, @kensipe

convince->convenience (#293)
  Makefile
Owners: @gerred

Fix canary parameter
  config/samples/canary.yaml
Owners: @gerred

Fix another missing param
  config/samples/kafka-frameworkversion.yaml
Owners: @gerred

Bundle from memory
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/util/check/check.go
  pkg/kudoctl/util/check/check_test.go
  pkg/kudoctl/util/helpers/helpers.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/vars/vars.go
Owners: @fabianbaier, @kensipe

Add "kudoctl delete" command
  docs/cli.md
  pkg/kudoctl/cmd/delete.go
  pkg/kudoctl/cmd/delete/delete.go
  pkg/kudoctl/cmd/delete_test.go
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/util/kudo/kudo.go
Owners: @gerred, @fabianbaier, @kensipe

Drop some stuf
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_index.go
Owners: @fabianbaier, @kensipe

Fixes
  pkg/kudoctl/util/repo/repo_client.go
Owners: @fabianbaier, @kensipe

Clean up Makefile
  Makefile
Owners: @gerred

Linter
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

Formatting
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

fixing goimports of vars.go
  pkg/kudoctl/util/vars/vars.go
Owners: @fabianbaier, @kensipe

fixed nil pointer, inlined error and switched to official kudo-repository GCS
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

Clean up Makefile (#299)
  Makefile
Owners: @gerred

Removed .Params prefix from parameter Name since it's added by templating engine
  pkg/util/helm/convert.go
Owners: @gerred, @runyontr, @kensipe

Just one formatting job
  .circleci/config.yml
Owners: @gerred

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gerred

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/pkg/apis/ @gerred @runyontr @kensipe
/pkg/client/ @fabianbaier @kensipe
/pkg/controller/ @gerred @runyontr @kensipe
/pkg/kudoctl/ @fabianbaier @kensipe
/pkg/util/ @gerred @runyontr @kensipe
/pkg/webhook/ @gerred @runyontr @kensipe
/site/ @guenter
