Repository kudobuilder/kudo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gerred, @runyontr, @fabianbaier, @guenter

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gerred

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/pkg/apis/ @gerred @runyontr
/pkg/client/ @fabianbaier
/pkg/controller/ @gerred @runyontr
/pkg/kudoctl/ @fabianbaier
/pkg/util/ @gerred @runyontr
/pkg/webhook/ @gerred @runyontr
/site/ @guenter

Explicitly go mod init in codegen scripts so that it works in Go 1.13
  hack/update_codegen.sh
  hack/update_manifests.sh
Owners: @gerred

shrink our footprint with go mod tidy
  go.mod
  go.sum
Owners: @gerred

Streamline Makefile, add instructions for explicit generate
  CONTRIBUTING.md
  Makefile
Owners: @gerred

Add install-crds target
  Makefile
Owners: @gerred

update contrib guidelines
  CONTRIBUTING.md
Owners: @gerred

update docs
  CONTRIBUTING.md
  README.md
Owners: @gerred

Minor fixes
  pkg/controller/instance/instance_controller.go
Owners: @gerred, @runyontr

fixing minor nits and spelling issues
  pkg/controller/instance/instance_controller.go
Owners: @gerred, @runyontr

be explicit about GO111MODULE in update_codegen.sh
  hack/update_codegen.sh
Owners: @gerred

update circleci
  .circleci/config.yml
Owners: @gerred

go to circle maintained go images
  .circleci/config.yml
Owners: @gerred

revert prior change
  .circleci/config.yml
Owners: @gerred

few more updates
  .circleci/config.yml
  Dockerfile
  docs/getting-started.md
Owners: @gerred

update build images shell script
  build/test-images.sh
Owners: @gerred

resolved pr feedback. switched to KUDO terms. applied consistent formatting. fixed a number a number of misspellings
  docs/Comparison.md
Owners: @gerred

Comparion between tools (#22)
  docs/Comparison.md
Owners: @gerred

update to pass shellcheck
  hack/update_codegen.sh
  hack/update_manifests.sh
Owners: @gerred

remove install target, no longer needed to construct the build cache
  Makefile
Owners: @gerred

Adding the kep for the skeleton generator
  keps/draft-20190418-skeleton-generator.md
Owners: @gerred

Adding the kep for the previous values in update plans
  keps/draft-20190418-previous-values-in-update-plans-and-conditional-phases.md
Owners: @gerred

This generator should be part of the KUDO CLI
  keps/draft-20190418-skeleton-generator.md
Owners: @gerred

what a bunch of phonies
  Makefile
Owners: @gerred

move formatting to hack
  Makefile
  hack/check_formatting.sh
Owners: @gerred

Add test job in, do not run in workflow just yet. Fix readability issues
  .circleci/config.yml
  README.md
Owners: @gerred

Fix kafka example link in getting-started.md
  docs/getting-started.md
Owners: @gerred

Fix kafka example link in getting-started.md (#201)
  docs/getting-started.md
Owners: @gerred

addressed review
  Makefile
  pkg/kudoctl/cmd/version.go
  pkg/version/base.go
Owners: @gerred, @fabianbaier

Comparison table was not created correctly. Cleaned up table.
  docs/Comparison.md
Owners: @gerred

added version support to Makefile, Dockerfile, Manager with ldflags (#166)
  Dockerfile
  Makefile
  cmd/manager/main.go
  config/default/manager_image_patch.yaml
  docs/cli.md
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/cmd/version.go
  pkg/version/base.go
  pkg/version/version.go
  version/version.go
Owners: @gerred, @fabianbaier

caching tools for code gens
  .gitignore
  Makefile
  hack/update_codegen.sh
  hack/update_manifests.sh
Owners: @gerred

make check-formatting failures fixed
  pkg/kudoctl/cmd/version.go
Owners: @fabianbaier

updates based on pr review around spacing and padding
  docs/Comparison.md
  site/themes/book/assets/_variables.scss
Owners: @gerred, @guenter

Comparison table was not created correctly. Cleaned up table. (#203)
  docs/Comparison.md
  site/themes/book/assets/_variables.scss
Owners: @gerred, @guenter

make check-formatting failures fixed (#204)
  pkg/kudoctl/cmd/version.go
Owners: @fabianbaier

Update CONTRIBUTING.md to be more friendly
  CONTRIBUTING.md
Owners: @gerred

caching tools for code gens (#202)
  .gitignore
  Makefile
  hack/update_codegen.sh
  hack/update_manifests.sh
Owners: @gerred

Update CONTRIBUTING.md to be more friendly (#205)
  CONTRIBUTING.md
Owners: @gerred
