Repository kudobuilder/kudo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gerred, @runyontr, @kensipe, @fabianbaier, @guenter

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gerred

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/pkg/apis/ @gerred @runyontr @kensipe
/pkg/client/ @fabianbaier @kensipe
/pkg/controller/ @gerred @runyontr @kensipe
/pkg/kudoctl/ @fabianbaier @kensipe
/pkg/util/ @gerred @runyontr @kensipe
/pkg/webhook/ @gerred @runyontr @kensipe
/site/ @guenter

Much simplified instructions
  docs/getting-started.md
Owners: @gerred

Fixe from code review
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

fix templating
  config/samples/canary.yaml
Owners: @gerred

Change to Go text/template (#295)
  config/samples/canary.yaml
  config/samples/flink-demo.yaml
  config/samples/flink.yaml
  config/samples/kafka-frameworkversion.yaml
  config/samples/mysql.yaml
  config/samples/toy.yaml
  config/samples/upgrade.yaml
  config/samples/zookeeper-frameworkversion.yaml
  config/samples/zookeeper-instance.yaml
  go.mod
  go.sum
  pkg/controller/planexecution/planexecution_controller.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/util/template/template.go
  tools.go
Owners: @gerred, @runyontr, @kensipe

Fixe from code review
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

Add basic docs
  docs/repository.md
Owners: @gerred

code review comments
  go.mod
  go.sum
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @gerred, @fabianbaier, @kensipe

Formatting
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

Just one formatting job (#301)
  .circleci/config.yml
Owners: @gerred

code review feedback
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/repo/repo_framework.go
Owners: @fabianbaier, @kensipe

Remove trailing spaces from CLI doc
  docs/cli.md
Owners: @gerred

Improve CLI docs
  docs/cli.md
Owners: @gerred

adding details for ops to get started with kudo
  config/minikube-config
  docs/getting-started.md
Owners: @gerred

Added convert command that will re-write the Helm repo as a KUDO repo. Added sample KUDO MySQL framework that should be the output of the convert call
  pkg/kudoctl/cmd/convert.go
  pkg/kudoctl/cmd/convert/convert.go
  pkg/kudoctl/cmd/root.go
  test/kudo/mysql/framework.yaml
  test/kudo/mysql/params.yaml
  test/kudo/mysql/templates/configurationFiles-configmap.yaml
  test/kudo/mysql/templates/deployment.yaml
  test/kudo/mysql/templates/initializationFiles-configmap.yaml
  test/kudo/mysql/templates/pvc.yaml
  test/kudo/mysql/templates/secrets.yaml
  test/kudo/mysql/templates/servicemonitor.yaml
  test/kudo/mysql/templates/svc.yaml
Owners: @fabianbaier, @kensipe, @gerred

Added changes to deep copy
  pkg/apis/kudo/v1alpha1/zz_generated.deepcopy.go
Owners: @gerred, @runyontr, @kensipe

CLI docs improvements (#298)
  docs/cli.md
Owners: @gerred

Add bundle package for framework and bundle structs
  pkg/bundle/framework.go
Owners: @gerred

formatting
  pkg/bundle/framework.go
Owners: @gerred

Do not introduce logging package right now
  go.mod
  go.sum
  pkg/kudoctl/cmd/install/install.go
Owners: @gerred, @fabianbaier, @kensipe

Get rid of .git-credentials and switch to GCS (#300)
  .circleci/config.yml
  CONTRIBUTING.md
  docs/cli.md
  docs/getting-started.md
  docs/repository.md
  go.mod
  go.sum
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install/install.go
  pkg/kudoctl/util/check/check.go
  pkg/kudoctl/util/check/check_test.go
  pkg/kudoctl/util/github/client.go
  pkg/kudoctl/util/github/client_test.go
  pkg/kudoctl/util/github/credential.go
  pkg/kudoctl/util/github/credential_test.go
  pkg/kudoctl/util/helpers/helpers.go
  pkg/kudoctl/util/helpers/helpers_test.go
  pkg/kudoctl/util/repo/repo.go
  pkg/kudoctl/util/repo/repo_client.go
  pkg/kudoctl/util/repo/repo_framework.go
  pkg/kudoctl/util/repo/repo_index.go
  pkg/kudoctl/util/vars/vars.go
  test/run_tests.sh
Owners: @gerred, @fabianbaier, @kensipe

Update framework
  pkg/bundle/framework.go
Owners: @gerred

fix merge
  go.sum
  pkg/kudoctl/cmd/install/install.go
Owners: @gerred, @fabianbaier, @kensipe

remove martian
  go.mod
Owners: @gerred

fix generated code
  pkg/apis/kudo/v1alpha1/zz_generated.deepcopy.go
Owners: @gerred, @runyontr, @kensipe

remove from go.sum manually
  go.sum
Owners: @gerred

Add bundle package for KEP-9 bundles (#305)
  pkg/apis/kudo/v1alpha1/zz_generated.deepcopy.go
  pkg/bundle/framework.go
Owners: @gerred, @runyontr, @kensipe

Create bundle command, add sample for bundle command
  config/samples/mysql-instance.yaml
  config/samples/mysql/framework.yaml
  config/samples/mysql/templates/backup-pv.yaml
  config/samples/mysql/templates/backup.yaml
  config/samples/mysql/templates/deployment.yaml
  config/samples/mysql/templates/init.yaml
  config/samples/mysql/templates/pvc.yaml
  config/samples/mysql/templates/restore.yaml
  config/samples/mysql/templates/service.yaml
  go.sum
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/bundle/framework.go
  pkg/kudoctl/cmd/bundle.go
  pkg/kudoctl/cmd/bundle/bundle.go
  pkg/kudoctl/cmd/bundle/bundle_test.go
  pkg/kudoctl/cmd/bundle/doc.go
  pkg/kudoctl/cmd/root.go
Owners: @gerred, @runyontr, @kensipe, @fabianbaier

adjust example
  pkg/kudoctl/cmd/bundle.go
Owners: @fabianbaier, @kensipe

fix lint, imports, vet, staticcheck
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/bundle/framework.go
  pkg/kudoctl/cmd/bundle.go
Owners: @gerred, @runyontr, @kensipe, @fabianbaier

remove extraneous package
  pkg/kudoctl/cmd/bundle/bundle.go
  pkg/kudoctl/cmd/bundle/bundle_test.go
  pkg/kudoctl/cmd/bundle/doc.go
Owners: @fabianbaier, @kensipe

change back to string
  pkg/bundle/framework.go
  pkg/kudoctl/cmd/bundle.go
Owners: @gerred, @fabianbaier, @kensipe

making commands private
  go.sum
  pkg/kudoctl/cmd/get.go
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install_test.go
  pkg/kudoctl/cmd/plan.go
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/cmd/version.go
Owners: @gerred, @fabianbaier, @kensipe

making commands private (#308)
  go.sum
  pkg/kudoctl/cmd/get.go
  pkg/kudoctl/cmd/install.go
  pkg/kudoctl/cmd/install_test.go
  pkg/kudoctl/cmd/plan.go
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/cmd/version.go
Owners: @gerred, @fabianbaier, @kensipe

adding us-west-2 to s3 configuration for goreleaser
  .goreleaser.yml
Owners: @gerred

Add transitive dependency back
  go.sum
Owners: @gerred

removing s3 from goreleaser configuration
  .goreleaser.yml
Owners: @gerred

enabled release to GH, or put another way, we set disabled to false
  .goreleaser.yml
Owners: @gerred

goreleaser updates, removed user name from release name, switching to binary artifacts
  .goreleaser.yml
Owners: @gerred

adding docker builds with auto push. added ldflags to artifact builds
  .goreleaser.yml
Owners: @gerred

removing artifact building from make. goreleaser builds the artifacts.
  Makefile
Owners: @gerred
