Repository kudobuilder/kudo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gerred, @runyontr, @fabianbaier, @guenter

updating the ignore (#185)
  .gitignore
  cover.out
Owners: @gerred

starting a coding style guide
  STYLEGUIDE.md
Owners: @gerred

Adding Idiomatic Go Resources
  STYLEGUIDE.md
Owners: @gerred

adding staticcheck and vet to style guide
  Makefile
  STYLEGUIDE.md
Owners: @gerred

responding to PR feedback. removing whitespace, capitalizing proper nouns
  STYLEGUIDE.md
Owners: @gerred

responding to PR feedback. adding period to end of sentence
  STYLEGUIDE.md
Owners: @gerred

Starting a coding style guide (#191)
  Makefile
  STYLEGUIDE.md
Owners: @gerred

adding kustomize to the tools list in readme
  README.md
Owners: @gerred

completing the move and updating relative path
  config/default/kustomization.yaml
  config/rbac/rbac_role.yaml
  config/rbac/rbac_role_binding.yaml
Owners: @gerred

Kustomize requires resource paths to be in the configuration directory or sub-directory
  config/default/kustomization.yaml
  config/default/manager/manager.yaml
  config/default/rbac/rbac_role.yaml
  config/default/rbac/rbac_role_binding.yaml
Owners: @gerred

minor fix to style guide grammar
  STYLEGUIDE.md
Owners: @gerred

Required Kustomize Config Change (#190)
  README.md
  STYLEGUIDE.md
  config/default/kustomization.yaml
  config/default/manager/manager.yaml
  config/default/rbac/rbac_role.yaml
  config/default/rbac/rbac_role_binding.yaml
Owners: @gerred

Update README to include run requirements and how to run the CLI
  README.md
Owners: @gerred

responding to PR feedback. Removed whitespace, changed 'server' to 'operator', moved kubebuilder to useful tool section
  README.md
Owners: @gerred

adding clean up tasks and distribution builds
  Makefile
Owners: @gerred

adding prebuild to cli task dependencies
  Makefile
Owners: @gerred

adding version information to kustomize install prereq
  README.md
Owners: @gerred

adding prereq notes to the getting started webpage
  docs/getting-started.md
Owners: @gerred

adding more details around git-credentials and providing link on readme
  README.md
  docs/getting-started.md
Owners: @gerred

change server to operator in instructions
  README.md
Owners: @gerred

Update README to include run requirements and how to run the CLI (#188)
  README.md
  docs/getting-started.md
Owners: @gerred

Makefile clean and Builds Distributions (#187)
  Makefile
Owners: @gerred

Static check resolutions
  config/crds/kudo_v1alpha1_framework.yaml
  config/crds/kudo_v1alpha1_frameworkversion.yaml
  pkg/apis/kudo/v1alpha1/framework_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types_test.go
  pkg/apis/kudo/v1alpha1/instance_types.go
  pkg/apis/kudo/v1alpha1/planexecution_types.go
  pkg/controller/framework/framework_controller_suite_test.go
  pkg/controller/framework/framework_controller_test.go
  pkg/controller/frameworkversion/frameworkversion_controller_suite_test.go
  pkg/controller/frameworkversion/frameworkversion_controller_test.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/instance/instance_controller_suite_test.go
  pkg/controller/instance/instance_controller_test.go
  pkg/controller/planexecution/planexecution_controller.go
  pkg/controller/planexecution/planexecution_controller_suite_test.go
  pkg/controller/planexecution/planexecution_controller_test.go
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/cmd/list/instances.go
  pkg/kudoctl/util/helpers/helpers_test.go
  pkg/util/health/ready.go
Owners: @gerred, @runyontr, @fabianbaier

resolved remaining issues with staticcheck and corrected misspellings
  pkg/controller/planexecution/planexecution_controller.go
  pkg/kudoctl/util/github/client.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/util/health/ready.go
Owners: @gerred, @runyontr, @fabianbaier

adding staticcheck to make check-formatting and including it in deps for install
  Makefile
Owners: @gerred

removing dead tests
  pkg/controller/framework/framework_controller_test.go
  pkg/controller/frameworkversion/frameworkversion_controller_test.go
  pkg/controller/instance/instance_controller_test.go
  pkg/controller/planexecution/planexecution_controller_test.go
Owners: @gerred, @runyontr

adjusting how staticcheck is installed
  Makefile
Owners: @gerred

Static Check Resolutions (#192)
  Makefile
  config/crds/kudo_v1alpha1_framework.yaml
  config/crds/kudo_v1alpha1_frameworkversion.yaml
  pkg/apis/kudo/v1alpha1/framework_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types_test.go
  pkg/apis/kudo/v1alpha1/instance_types.go
  pkg/apis/kudo/v1alpha1/planexecution_types.go
  pkg/controller/framework/framework_controller_suite_test.go
  pkg/controller/framework/framework_controller_test.go
  pkg/controller/frameworkversion/frameworkversion_controller_suite_test.go
  pkg/controller/frameworkversion/frameworkversion_controller_test.go
  pkg/controller/instance/instance_controller.go
  pkg/controller/instance/instance_controller_suite_test.go
  pkg/controller/instance/instance_controller_test.go
  pkg/controller/planexecution/planexecution_controller.go
  pkg/controller/planexecution/planexecution_controller_suite_test.go
  pkg/controller/planexecution/planexecution_controller_test.go
  pkg/kudoctl/cmd/install/install_test.go
  pkg/kudoctl/cmd/list/instances.go
  pkg/kudoctl/util/github/client.go
  pkg/kudoctl/util/helpers/helpers_test.go
  pkg/kudoctl/util/kudo/kudo.go
  pkg/util/health/ready.go
Owners: @gerred, @runyontr, @fabianbaier

Configure manifest generation to the correct directory
  Makefile
  config/crds/kudo_v1alpha1_instance.yaml
  config/crds/kudo_v1alpha1_planexecution.yaml
Owners: @gerred

Configure manifest generation to the correct directory (#193)
  Makefile
  config/crds/kudo_v1alpha1_instance.yaml
  config/crds/kudo_v1alpha1_planexecution.yaml
Owners: @gerred

Adding a user story (#183)
  keps/0006-stable-kafka-example.md
Owners: @gerred

addressed review: fixed alignment, adding lsdflags to Makefile and renaming NewCmdVersion to NewVersionCmd
  Makefile
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/cmd/version.go
Owners: @gerred, @fabianbaier

added version support to Makefile, Dockerfile, Manager with ldflags
  Dockerfile
  Makefile
  cmd/manager/main.go
  config/default/manager_image_patch.yaml
  docs/cli.md
  pkg/kudoctl/cmd/root.go
  pkg/kudoctl/cmd/version.go
  pkg/version/base.go
  pkg/version/version.go
  version/version.go
Owners: @gerred, @fabianbaier

Fix inline json struct tags generated by openapi-gen
  pkg/apis/kudo/v1alpha1/framework_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/apis/kudo/v1alpha1/instance_types.go
  pkg/apis/kudo/v1alpha1/planexecution_types.go
Owners: @gerred, @runyontr

update generated CRDs
  config/crds/kudo_v1alpha1_framework.yaml
  config/crds/kudo_v1alpha1_frameworkversion.yaml
  config/crds/kudo_v1alpha1_instance.yaml
  config/crds/kudo_v1alpha1_planexecution.yaml
Owners: @gerred

Fix inline JSON struct tags (#196)
  config/crds/kudo_v1alpha1_framework.yaml
  config/crds/kudo_v1alpha1_frameworkversion.yaml
  config/crds/kudo_v1alpha1_instance.yaml
  config/crds/kudo_v1alpha1_planexecution.yaml
  pkg/apis/kudo/v1alpha1/framework_types.go
  pkg/apis/kudo/v1alpha1/frameworkversion_types.go
  pkg/apis/kudo/v1alpha1/instance_types.go
  pkg/apis/kudo/v1alpha1/planexecution_types.go
Owners: @gerred, @runyontr

Ensure that goimports gets installed now that binaries are not guaranteed in the initial make
  test/formatting.sh
Owners: @gerred

add module caching to circle
  .circleci/config.yml
Owners: @gerred

remove gopkg files
  Gopkg.lock
  Gopkg.toml
Owners: @gerred

adjust Makefile to use Go Modules explicitly, despite what is in the environment
  Makefile
Owners: @gerred

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @gerred

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/pkg/apis/ @gerred @runyontr
/pkg/client/ @fabianbaier
/pkg/controller/ @gerred @runyontr
/pkg/kudoctl/ @fabianbaier
/pkg/util/ @gerred @runyontr
/pkg/webhook/ @gerred @runyontr
/site/ @guenter
