Repository kudobuilder/kudo, pull requests merged in 2019-05, with the labels that each got.

#198 Adding the kep for the skeleton generator
  keps/draft-20190418-skeleton-generator.md
Labels: kind/kep

#213 Update bug_report.md to fix
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: kind/documentation

#214 minor documentation edits and typo fixes
  docs/cli.md
  docs/faq.md
  docs/usage.md
Labels: kind/documentation

#224 Finish proposal for Dynamic Instances
  keps/0002-dynamic-crds.md
  keps/0002-dynamic-instances.md
Labels: kep/2, kind/kep

#215 DCOS-53410 - KEP for acceptance testing KUDO Frameworks
  keps/0008-framework-testing.md
Labels: component/testing, kind/kep, priority/high

#144 Cicd outline
  keps/0004-add-testing-infrastructure.md
Labels: kind/infrastructure, kind/kep
