Repository kudobuilder/kudo, pull requests merged in 2020-09, with the labels that each got.

#1667 KEP-32: Change status of KEP-32 to 'implemented'
  keps/0032-community-repository-management.md
Labels: kep/32

#1490 Update 0023-enable-disable-features.md
  keps/0023-enable-disable-features.md
Labels: kep/23, kind/documentation

#1682 Add an option to wait for an instance uninstall
  pkg/kudoctl/cmd/uninstall.go
  pkg/kudoctl/cmd/uninstall_test.go
  pkg/kudoctl/util/kudo/kudo.go
Labels: component/cli

#1124 KEP-21: Upgrading KUDO
  keps/0021-kudo-upgrade.md
  keps/README.md
Labels: epic/upgrade-kudo, kind/kep, needs review

#1666 KEP 33 - Structured parameters
  keps/0033-structured-parameters.md
  keps/README.md
Labels: kep/33
